.footer {
    padding:1em;
    background-color: #ffffff;
    color: rgba(0,0,0,.87);
    margin-top:10%;
    text-align: center;
    border-top: 1px solid #dee2e6;
}


.first-page .footer {
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    margin-top:0;
}

footer h1,footer h2,footer h3,footer h4,footer h5,footer h6{
    position: relative;
    padding:0;
    margin:0;
  }

  footer h1, footer h2 {
    margin: 0 0 24px;
    padding-bottom:12px;
  }

footer h1:after,footer h2:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 64px;
    background-color: #f8b83f;
  }

.content-container {
    display: flex;
    justify-content: center;
}

.footer-box {
    width:60%;
    padding: 0 20px;
}

.disclaimer.footer-box, .contact.footer-box {
    width:20%;
}

.contact-header {
    font-weight: bold;
    margin-bottom: 4px;
}

.footer-box-bottom{
display:block;
background-color:#ffffff;
color:black;
text-align:center;
padding: .5em 0;
margin: 1em -2em 0 -2em;
}

.footer a {
    color: rgba(0,0,0,.87);
    text-decoration: none;
}

.footer p {
    margin:0;
}

.footer i {
    float:left;
    color:#f8b83f;
}

.footer .contact-row {
margin-left:3em;
margin-bottom:1em;
font-size:14px;
}

.footer .social-icon{
    width: 24px;
    height: 24px;
    margin: 8px;
    background-size: cover!important;
    display:inline-block;
    transition:all .5s;
}

.footer .social-icon:hover {
    filter: sepia() saturate(300%) hue-rotate(0deg)
}

.social-icon.linkedin{
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAH/SURBVFiF7ZY/aBNhGMZ/7yWVWBRNEFHwD0KFgoOgLnZzFOJyfxaFEkEQcXAo1NVJcXGQUkoGFxfJ3cVkK7qIiwjiVgQHV6uDUlJTlZDHJYFa76LCJVnyLh/f8zwv7++477jPJAHQaDT2d7vdWUntVqv1vlKpfGcEZbVaLWdm94FbQL6nfwFu+r7/ZNgAjpktAAvbhgOUgMf1ev3M0AGAqyleXtL8KAAOD/APjQLg9QB/kJcNgKTbwB8n3szedbvdlWEDmCTCMJwxs0XgNLABvCwUCg/K5XJ7JADjLGes04F8HMfnJM0kmZJeBEGw3t9HUeQCuxKiW77vNwGq1epUsVi8YmZzkk4AOcdx1oA1M3vmuu6H3wAkXQOupwBeBFa37R8B+xJyn4BmGIZnS6VSHTgGYGb9B7nQW9txHC96nrcMCDJ8BXEcz5rZan94Sk1LWgrDsAlYlgDTkp4DB/4lbGaXoii6nCXAXuDI/zSY2b0wDHcP4yvYBJ4Cr4CfaSFJR81sPlMAM7sh6aDv+67v+3OO45wH1ge0nMoMwMyWPM9bCYJgq6+5rvsWuDOg7WSWAHeTdEmplxozywxg03Xdj0lGEAQbwNcUuONZAXz7i/85Rc+P/V8wAZgATAAmAGMHyEt6CDSSzE6n82aH5Ema2pnL5XI/Bg3p3Tv3JHm/AOkjrg/niJtWAAAAAElFTkSuQmCC) no-repeat 50%;
}

.social-icon.twitter{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAMiSURBVFiFzZdNiBxFGIaft2tGNC54kAEvUQSjoIElGPW6QSHgaWa6GmUxK1FQCf7gQSGoEKL4c80tQmQ1B4epnt3LCqIhIPHn4E+QzboREcSfKEkOguSwcXo+D7uz9Ex2d7Y3s1k/aLqr6ut6H6qqu96SmbGVEW2p+v8BoDTMztI0nZD0sJndB9wEfG1mX5XL5SPVavXvbl4IwTnn9szOzp5Udw2EEJ5MkuTYRoQbjcZ259x7kh5aqV3Sb5Iez7LsnKT9wASQeu+fl5kxNTV1W6fT+QV4w3v/WhHxEMINkk4Ddw1INUBLz3+Y2a4kSS5EAFmWdclfTdP0zSIAURS9tQ5xcuI/AC9KOpCm6UQEIGl3LvFgCOHjRqOxfVCPIYTrzOxAEWBgB9AEbvfeH48AzOx0D6q0t1QqzYUQnsqRXxHOuZ1AuSBAGfhwbm7uCcBkZoQQ7pD000rZkubN7Jhz7nitVjufbwsh7JP0QRF1M/u+UqnsHhsbawMsfwVpmp5l7bn818w+kvSFmc075+azLBuVNFUEAPjEe7+3W1j+D0iqmtnnwM2rvFiWVAWqkuh0OkjKCooD9IxiBBBCeMXMxoG3gcsFOnMbAPgrXygBSIqAQt//RsPMfs+Xu3vBl9dCHMA5dypfzi/CE8CDm6x/3nt/C4t/RSC3G0p6lr752YT4NC/eAxDH8dl2u32/mX23iQBH+yt6/IBz7hIwDrwEXByy+Gfe+1P9lf1+wEn6FrhxyOKY2eGV6ntGIEmSC8A7wxYHmkmSnBwIAOC9f13Su0MU/7VUKj29WuOKnjCO42fM7FFJP1+leAY8lrdj/aFBtnx6enq03W6/L2m0oPhlSeNxHLfWSloVYHJy8vqRkZEXgIMsGswicSmKomq9Xj8xKHEZYGZmZtvCwsLdwD1mtlPSI2Y20BX1h5mdiaJofxzH36wnX81m815JzwH7uLpzwj9mdqhSqRzpmo11AXRHoNVq7TKzl4GEAtvskmNqRlF0tF6v/1mU+oo1EEK4VdIDLJrHO5fuO4BtwLnc9aNzrlWr1c4UFV0T4FrHlp8NtxzgPyyZKGARDimiAAAAAElFTkSuQmCC) no-repeat 50%;
}

.social-icon.facebook{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAFzSURBVFiF7Za9SsRAFIXPGQYs1SJYWGir+NNa+QAKWwV3wcZKtvUJbETEysJesAoMgbyDFoKCIoIPoC+gIijrzLVRiCGZNZMFLXIgzb33zP3C3EmGIoImStN0TUTWASx+PROFkp04jo+q/Dq0sTEmInkMYMNXR3LFlw8CMMaMk7wGMB3iz0uFmEjuj6J5EECapksA+r+tlyFDVhvAObda0/foS9aeAaXUvOelzkmeArhyzgkARFF0N1IAEZmryllrt7vd7n2d9WpvgYhMVqRe6zYPAvDoI8Q0SoAg0XdKkiSZ1VpvFcJ9AFMl5e8ADvIBEXHW2pNer/dQ1cM7hFrrPQCbvpqcxgDs5gMkobV+A3BYZfJuAcngf8W3RMTb489noAXwAojIbcP1haT3U+w9hgCQZdmPG85gMDgjuVBS+qy1nskHlFK20+m8NAIoyhhzQ3K5JPUUx3HxOjZU/3sGWoAWoAVoAVqAMpG8LIuLyEUIwCe7+Gy5d2YZUwAAAABJRU5ErkJggg==) no-repeat 50%;
}

@media (max-width:992px) {
    .content-container {
        display:block;
    }

    .footer-box, .disclaimer.footer-box, .contact.footer-box {
        width:20%;
        display:block;
        width:100%;
        margin-bottom:1em;
        border-bottom:1px solid #f8b83f;
        padding: 0 0 1em;
    }
    .disclaimer.footer-box {
        border-bottom:0;
    }
}